.Listing {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    width: 40vw;
    border-radius: 3px;
    box-shadow: 0 1px 2px 2px rgba(128, 128, 128, 0.31);
    padding: 1%;
    flex-basis: auto;
    flex-grow: .25;
    margin: 2%;
}

#title {
    font-size: 1.5em;
    padding-bottom: .05em;
}

#pay {
    font-size: .5em;
    color: black;
}

#desc {
    font-size: 1em;
}

#int {
    font-size: .5em;
    color: black;
}

.listingItem {
    text-align: start;
    padding-bottom: 1em;
}